<div class="jumbotron row">
    <h1 class="col-xs-12">Bienvenido a mi sitio web</h1>
    <%= ponImagen :img=>"jumbo.jpg", :clase=>"img-responsive, col-xs-12"%>
</div>
<div class="row text-center">
    <h2 class="col-xs-12">
      Tecnologías usadas 
    </h2>
    <div class="col-xs-12 tecnologias">
      <div class="col-xs-4 row">
        <%= ponImagen :img=>"html5.png", :clase=>"img-responsive, col-xs-6 col-xs-offset-3"%>
        <div class="col-xs-12">
          Tecnología HTML5 para el diseño estructurado del sitio web
        </div>
      </div>
      <div class="col-xs-4 row">
        <%= ponImagen :img=>"css3.png", :clase=>"img-responsive, col-xs-6 col-xs-offset-3"%>
        <div class="col-xs-12">
          CSS3 para dotar de estilo a la página. Si no se quedaría muy fea.
        </div>
      </div>
      <div class="col-xs-4 row">
        <%= ponImagen :img=>"rails.png", :clase=>"img-responsive, col-xs-6 col-xs-offset-3"%>
        <div class="col-xs-12">
          El framework usado para desarrollar este sitio web
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 tecnologias">
      <div class="col-xs-4 row col-xs-offset-2">
        <%= ponImagen :img=>"heroku.png", :clase=>"img-responsive, col-xs-6 col-xs-offset-3"%>
        <div class="col-xs-12">
          Usado para alojar el sitio rails en la nube
        </div>
      </div>
      <div class="col-xs-4 row">
        <%= ponImagen :img=>"github.png", :clase=>"img-responsive, col-xs-6 col-xs-offset-3"%>
        <div class="col-xs-12">
          Para llevar a cabo el control de versiones
        </div>
      </div>
    </div>
</div>